@font-face {
    font-family: 'avenirblack';
    src: url('../assets/fonts/avenir-webfont.eot');
    src: url('../assets/fonts/avenir-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/avenir-webfont.woff2') format('woff2'),
         url('../assets/fonts/avenir-webfont.woff') format('woff'),
         url('../assets/fonts/avenir-webfont.ttf') format('truetype'),
         url('../assets/fonts/avenir-webfont.svg#avenirblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'avenirbook';
    src: url('../assets/fonts/avenir_45_book-webfont.eot');
    src: url('../assets/fonts/avenir_45_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/avenir_45_book-webfont.woff2') format('woff2'),
         url('../assets/fonts/avenir_45_book-webfont.woff') format('woff'),
         url('../assets/fonts/avenir_45_book-webfont.ttf') format('truetype'),
         url('../assets/fonts/avenir_45_book-webfont.svg#avenirblack') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'hsusa';
    src: url('../assets/fonts/high_school_usa_sans-webfont.eot');
    src: url('../assets/fonts/high_school_usa_sans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/high_school_usa_sans-webfont.woff2') format('woff2'),
         url('../assets/fonts/high_school_usa_sans-webfont.woff') format('woff'),
         url('../assets/fonts/high_school_usa_sans-webfont.ttf') format('truetype'),
         url('../assets/fonts/high_school_usa_sans-webfont.svg#high_school_usa_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}